@using DbModel
@model List<SubFunction>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("DeleteItem")" method="post">
    <ul>
        @foreach (SubFunction s in Model)
        {        
            <li><input type="checkbox" value="@s.SubFunctionId" name="id" /><a href="@Url.Action("Edit", new { @id = s.SubFunctionId })">@s.SubFunctionName</a></li>
        }
    </ul>
    <input type="submit" value="Submit" />
</form>

